{"SMTPHostname":"smtp.gmail.com","SMTPPort":"587","SMTPUsername":"mayonaiseguitar@gmail.com","SMTPPassword":"Ismayonaiseaninstrument?","TargetAddress":"idontexist173","StorageType":"Gmail","AWSRegion":"us-west-2","S3BucketName":null,"S3BucketFolder":null,"S3BucketFolderOld":null,"S3ScanFrequency":"5","S3ScanDuration":"90","SenderAddress":"mayonaiseguitar@gmail.com","SenderDisplayName":"Supply Chain Analysis","SenderSubject":"Domain Supply Chain Analysis","TargetDomains":["optum.com","uhg.com","uhc.com"]}